/* Footer Container */
.footerContainer {
  width: 100%;
  background: linear-gradient(180deg, #0D57A0 0%, rgba(0, 128, 255, 0.64) 100%);
  padding: 20px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer Content */
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

/* Logo styling */
.logo-container {
  flex: 1;
}

.footer-logo {
  width: 250px;
  height: auto;
}

/* Links container */
.details {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-item {
  background: none; /* Removes the background from ListGroup items */
  border: none; /* Removes the border from ListGroup items */
  padding: 0.5rem 0; /* Space between items */
}

.redirectLinkFooter {
  color: white;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  transition: color 0.3s ease;
}

.redirectLinkFooter:hover {
  color: lightgray;
}

/* Disclaimer */
.disclaimer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
