/* Breadcrumbs */
.breadcrumbContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    margin-left: 2%!important;
}
.breadcrumbHeader{
    display: flex;
    justify-content: start;
    color: grey;
    margin-top: 3%;
}
.breadcrumbSubheader{
    display: flex;
    justify-content: start;
    color: grey
}
/* Cards */