@import "../../assets/style/colors.scss";

/* Breadcrumbs */
.breadcrumbContainer {
  display: flex;
  flex-direction: column;
}
.breadcrumbHeader {
  display: flex;
  justify-content: start;
  color: grey;
}
.breadcrumbSubheader {
  display: flex;
  justify-content: start;
  color: grey;
}

/* Cards */

/* Field container */
.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.focussed input {
  padding: 24px 16px 8px 16px;
}

.field.focussed input + label {
  top: 12px; /* Adjusted this value */
  opacity: 1;
  color: rgb(158, 156, 156);
}

.field.locked {
  pointer-events: none;
}

/* Input field styles */
.field input {
  width: 100%;
  height: 56px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: #282828;
  outline: none;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

/* Placeholder styling */
.field input::placeholder {
  color: rgba(158, 156, 156, 0.8);
}

/* Label positioning and floating behavior */
.field input + label {
  position: absolute;
  top: 50%; /* Center the label vertically */
  left: 16px;
  transform: translateY(-50%); /* Adjust label for centering */
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

/* Float label upwards when focused or value present */
.field.focussed input + label,
.field input:not(:placeholder-shown) + label {
  top: 12px; /* Adjust this value to keep it inside the box */
  opacity: 1;
  font-size: 12px;
  color: rgb(158, 156, 156);
}

/* Error states */
.field input + label.error {
  color: #ec392f;
}

.inputField {
  color: rgb(158, 156, 156) !important;
}

.borderRed {
  border-color: red;
}

.field.error {
  border: 1px solid #f56260; /* Red border for error state */
}

.field label.error {
  color: #f56260; /* Red text color for error message */
}

/* Modal */
.custom-width-modal .modal-content {
  border-color: #ffb6c1; /* Warning red color */
  border-width: 2px; /* Adjust the border width as needed */
}
