

.loginContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75vh;
  background-image: url('../../assets/img/circuitboard.png');
  
}
.loginForm{
  display: flex;
  justify-content: center;
  margin-top: 7%;
  width: 60vh;
  height: 50vh;
  border: 1px solid;
  border-radius: 10px;
}