.form-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  
  button {
    min-width: 120px;
  }
  