.pagename{
    height: 48px;
    width: 70%;
    float: left;
}
.pagebutton{
    height: 48px;
    width: 30%;
    float: right;
    text-align: center;
    justify-content: center;
}
.pagesearch{
    width: 30%;
    float: right;
}

.applicanttable{
    display: block;
    width:80%;
    background-color: #d9e8f6;
    height: 300px;
    width: 1200px;
    margin: 100px 12px;
    border-radius: 30px;
}