@import "../../assets/style/colors.scss";
@import '../../../node_modules/react-modal-video/scss/modal-video.scss';
.container{
    width: 100%;
}
/* Banner */
.bannerContainer{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}
.bannerHeader{
    background: -webkit-linear-gradient(left,#5e17eb,#25006d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}
.bannerLeft{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    text-align: left;
    white-space: nowrap;    

}
.imageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playButton{
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.playButton:hover{
    cursor: pointer;
    color:#5e17eb;
}

/* Carousel */
.carouselContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}
.carouselHeader{
}
/* Features */
.featureContainer{
    display: flex;
    justify-content: center;
}
.featureContainerGrey{
    background: #d9d9d9;
    display: flex;
    justify-content: center;
}

.featureLeft{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3%;
    text-align: left;
}
.serviceContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.serviceHeader {
    width: 100%;
    background: -webkit-linear-gradient(left,#5e17eb,#25006d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tileHeader {
    width: 100%;
    background: -webkit-linear-gradient(left,#5e17eb,#25006d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tileIcon{
    border: 1px solid;
    width: 100px;
    height: 100px;
}
.serviceTile{
    display: flex;
}
.Tile{
    display: flex;
    flex-direction: row;
}


